{:identifier "Remove-Voice"
 :identity "7ar3mw8ao1uab6o"
 :patch
{:cables
{["4udeqsgdz4vibzl" 0] [:fixed "rjgcwzrjz3a4yen" 0]
 ["rjgcwzrjz3a4yen" 0] [:fixed "hsvd2ch2pv96jia" 1]
 ["wf27izqjk0p6tpm" 0] [:fixed "4udeqsgdz4vibzl" 0]
 ["wf27izqjk0p6tpm" 1] [:fixed "hsvd2ch2pv96jia" 0]}
 :nodes
{"4udeqsgdz4vibzl" 
{:inputs ["rn"]
 :label "(p n g) => (p - (100 & $rn == n) n g & Not($rn == n))"
 :outputs [""]
 :parsed [:infix [:tuple "p" "n" "g"] "=>" [:tuple [:infix "p" "-" [:tuple [:infix [:float "100"] "&" [:infix [:free-var "rn"] "==" "n"]]]] "n" [:infix "g" "&" [:fn "Not" [:tuple [:infix [:free-var "rn"] "==" "n"]]]]]]
 :pos [1 47]}
 "hsvd2ch2pv96jia" 
{:default-params 
{"remove-note" "nil"
 "voices" "nil"}
 :inputs ["voices" "remove-note"]
 :label "(voices remove-note) = arg"
 :outputs ["voices" "remove-note"]
 :parsed "arg"
 :pos [-432 -176]}
 "rjgcwzrjz3a4yen" 
{:inputs ["a"]
 :label "+ 0"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "0"]]
 :pos [-393 -29]}
 "wf27izqjk0p6tpm" 
{:ephemeral-inputs #{"set"}
 :inputs ["func" "set" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set"] [:free-var "set..."]]]
 :pos [360 49]}}
 :scale 0.8243728104391173
 :scroll [0 0]}}